/* Define a fonte para o corpo do documento como uma fonte sans-serif genérica */
body {
    font-family: sans-serif;
}

/* Estilos para o elemento 'details' */
details {
    margin-bottom: 1em; /* Adiciona margem inferior de 1em */
    padding: .5em; /* Adiciona preenchimento interno de .5em */
    background-color: #f9f9f9; /* Define a cor de fundo */
    border: 1px solid #ccc; /* Adiciona uma borda de 1px sólida */
    border-radius: 5px; /* Adiciona uma borda arredondada */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adiciona uma sombra suave */
}

/* Estilos para o resumo dentro do elemento 'details' */
details summary {
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar o mouse */
    font-weight: bold; /* Define o peso da fonte como negrito */
    padding: .3em; /* Adiciona preenchimento interno de .3em */
    background-color: #e0e0e0; /* Define a cor de fundo */
    border: 1px solid #ccc; /* Adiciona uma borda de 1px sólida */
    border-radius: 3px; /* Adiciona uma borda arredondada */
}

/* Estilos para o elemento 'details' quando está aberto */
details[open] {
    color: black; /* Define a cor do texto como preto */
}
