/* Define o tipo de fonte a ser usada para o texto no corpo da página. 
   Neste caso, a fonte padrão é definida como Arial, Helvetica 
   ou uma fonte sans-serif genérica caso as primeiras duas não estejam disponíveis no sistema do usuário. */
   body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Define um estilo para o elemento com o id "container". 
   Ele terá uma cor de fundo aliceblue, ocupando 100% da largura e 100% da altura da janela de visualização (viewport). 
   Além disso, possui uma borda de 1px sólida preta, uma margem inferior de 10px. */
#container {
    background-color: aliceblue; /* Define a cor de fundo como aliceblue */
    width: 100vw; /* Define a largura como 100% da largura da viewport */
    height: 100vh; /* Define a altura como 100% da altura da viewport */
    border: 1px solid black; /* Define uma borda de 1px sólida preta */
    margin-bottom: 10px; /* Define uma margem inferior de 10px */
}

/* Define um estilo para o elemento com o id "container2". 
   Ele terá uma cor de fundo azure, ocupando 50% da largura e 50% da altura da viewport. 
   Além disso, possui uma borda de 1px sólida vermelha e uma margem inferior de 10px. */
#container2 {
    background-color: azure; /* Define a cor de fundo como azure */
    width: 50vw; /* Define a largura como 50% da largura da viewport */
    height: 50vh; /* Define a altura como 50% da altura da viewport */
    border: 1px solid red; /* Define uma borda de 1px sólida vermelha */
    margin-bottom: 10px; /* Define uma margem inferior de 10px */
}

/* Define um estilo para o elemento com o id "container3". 
   Ele terá uma cor de fundo azure, ocupando 80% da largura e 80% da altura do seu contêiner pai. 
   Além disso, possui uma borda de 1px sólida verde. */
#container3 {
    background-color: azure; /* Define a cor de fundo como azure */
    width: 80%; /* Define a largura como 80% do contêiner pai */
    height: 80%; /* Define a altura como 80% do contêiner pai */
    border: 1px solid green; /* Define uma borda de 1px sólida verde */
}
