/* Estiliza os elementos h1 */
h1 {
    color: orange; /* Define a cor do texto como laranja */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a família da fonte */
    font-size: 30px; /* Define o tamanho da fonte como 30 pixels */
}

/* Estiliza os elementos h2 */
h2 {
    color: red; /* Define a cor do texto como vermelho */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Define a família da fonte */
    font-style: 48px; /* Define o estilo da fonte como 48 pixels (Nota: 'font-style' normalmente define o estilo da fonte, não o tamanho. Pode ser um erro aqui. Talvez você queira usar 'font-size' em vez disso.) */
    font-weight: normal;
}

/* Estiliza os elementos h3 */
h3 {
    font-size: 38px; /* Define o tamanho da fonte como 38 pixels */
    text-transform: lowercase; /* Transforma todo o texto em letras minúsculas (Nota: Este valor é sobrescrito logo abaixo) */
    text-transform: capitalize; /* Transforma o primeiro caractere de cada palavra para maiúscula */
    text-align: center; /* Centraliza o texto horizontalmente */
    background-color:cyan;
}

/* Estiliza os elementos de parágrafo */
p {
    text-align: justify; /* Alinha o texto justificado */
    text-indent: 30px; /* Define a indentação do texto como 30 pixels */
    color: #0000ff; /* Define a cor do texto como azul */
    font-variant: small-caps; /* Define a variante da fonte como small-caps, onde as letras minúsculas são exibidas como letras maiúsculas pequenas */
}

a {
    text-decoration:none;
    font-variant: normal;
}


/* O atributo text-transform em CSS é utilizado para controlar a capitalização do texto em um elemento. Ele pode ser aplicado a qualquer elemento de texto, como parágrafos, cabeçalhos, etc. Aqui estão os valores possíveis para o atributo text-transform: */

/* Valor padrão: não transforma o texto */
/* none */

/* Transforma o primeiro caractere de cada palavra para maiúscula */
/* capitalize */

/* Converte todo o texto em letras maiúsculas */
/* uppercase */

/* Converte todo o texto em letras minúsculas */
/* lowercase */

/* Transforma todo o texto em caracteres de largura total */
/* full-width */

/* Herda o valor de text-transform do elemento pai */
/* inherit */

/* Define o text-transform como o valor padrão inicial */
/* initial */


/* A propriedade text-align em CSS é utilizada para definir o alinhamento horizontal do texto dentro de um elemento. Aqui estão os valores possíveis para essa propriedade */

/* Alinha o texto à esquerda */
/* left */

/* Alinha o texto à direita */
/* right */

/* Centraliza o texto horizontalmente */
/* center */

/* Alinha o texto justificado */
/* justify */

/* Alinha o texto ao início do elemento */
/* start */

/* Alinha o texto ao final do elemento */
/* end */




/* A propriedade CSS text-decoration é usada para adicionar decoração ao texto. Aqui estão os valores possíveis para essa propriedade: */

/* Remove qualquer decoração de texto */
/* none */

/* Adiciona uma linha horizontal sob o texto */
/* underline */

/* Adiciona uma linha horizontal sobre o texto */
/* overline */

/* Adiciona uma linha horizontal através do meio do texto */
/* line-through */

/* Faz com que o texto pisque (desencorajado e pouco suportado) */
/* blink */


/* A propriedade font-variant em CSS é utilizada para controlar a aparência de caracteres em um texto. Aqui estão os valores possíveis para essa propriedade: */
/* Não aplica nenhuma variação de fonte */
/* normal */

/* Renderiza o texto em letras maiúsculas, mas com as letras minúsculas reduzidas */
/* para uma altura semelhante à das letras maiúsculas */
/* small-caps */

/* Define a propriedade como o valor padrão inicial */
/* initial */

/* Herda o valor da propriedade de font-variant do elemento pai */
/* inherit */
